.secciones-bar i, #contentcv i {font-size: 20px;}

#social-nav i {padding-left: 16px;}

.bgimg-1, .bgimg-2, .bgimg-3, .bgimg-4, .bgimg-5, .bgimg-6, .bgimg-7{
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	min-height: 70vh;
}

.bgimg-1 {background-image: url("img/camino.jpg"); min-height: 100vh;}
.bgimg-2 {background-image: url("img/hojas.jpg"); background-origin: border-box;}
.bgimg-3 {background-image: url("img/sombrilla.jpg");}
.bgimg-4 {background-image: url("img/vision.jpg");}
.bgimg-5 {background-image: url("img/carrera.jpg");}
.bgimg-6 {background-image: url("img/porfolio.jpg");}
.bgimg-7 {background-image: url("img/parana.jpg");}

#about-text { margin-top: 100px;}

/*Sección Idiomas*/
#contenido-idiomas i {font-size: 48px;}


/* Seccion redes sociales */
	#social i {font-size: 36px;}
		/*#social i[class*=linkedin]:hover {color: #0077B5;}*/
		/*#social a[href*=linkedin]:hover i {color: #016097;}*/


@media screen and (min-width: 992px) {
	#myNavbar{
		display: block;
		position: relative;
	}
	#about-text{
		margin-top: 0px;
	}
}